<div class="row">
  <div class="offset-lg-1 col-lg-10">
    <% if @is_preview %>
      <div class="alert alert-warning" role="alert">
        THIS IS PREVIEW MODE
      </div>
    <% end %>

    <h3 class="mt-4"><%= @table.title %></h3>
    <p class="text-right">作成日: <%= @table.created_at.strftime('%Y年%m月%d日') %></p>
    <hr>
    <%= image_tag @table.hero_image, class: "img-fluid rounded mx-auto d-block" %>
    <p class="mt-3"><%= @table.description %></p>
    <hr class="mt-5">

    <%= render 'social_share' %>

    <% if @table.columns.where("length(description) > 0").count > 0 %>
      <h3 class="mt-5">比較する仕様の説明</h3>
      <% @table.columns.where("length(description) > 0").order(:priority).each do |column| %>
        <h4 class="my-4"><li><%= column.name %></li></h4>
        <div class="row">
          <% if column.reference_url != nil && column.reference_url.length > 0 %>
            <div class="col-lg-6 mb-4">
              <%= image_tag column.image_src, class: "img-fluid rounded mx-auto d-block img-column-desc" %>
              <cite>出展: <%= link_to column.reference_host, column.reference_url, target: "_blank" %></cite>
            </div>
            <div class="col-lg-6">
              <p><%= column.description %></p>
            </div>
          <% else %>
            <div class="col-lg-12">
              <p><%= column.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <hr class="mt-5">
    <% end %>


    <h3 class="mt-5">製品一覧</h3>
    <% @active_items.each do |item| %>
      <h4 class="mt-4"><%= item.name %></h4>
      <div class="card p-4">
        <div class="row">
          <div class="col-lg-5 text-center pb-4">
            <%= image_tag item.main_image, class: "card-img-top portfolio-item-img" %>
          </div>
          <div class="col-lg-7">
            <h5 class="card-title"><%= item.title %></h5>
            <strong><%= item.formatted_price %>円</strong>
            <p class="card-text mt-2"><%= item.description %></p>
            <ul class="list-group list-group-flush">
              <% column_count = 0 %>
              <% @table.columns.order(:priority).each do |column| %>
                <% if item.element_value(column) != nil && item.element_value(column).length > 0 %>
                  <% column_count += 1 %>
                  <li class="list-group-item">
                    <%= column.name %>: 
                    <%= item.element_value(column) %>
                    <%= column.unit %>
                  </li>
                <% end %>
                <% if column_count >= 3 %>
                  <% break %>
                <% end %>
              <% end %>
            </ul>
            <%= link_to "楽天に行く", item.rakuten_url, class: "btn btn-primary btn-lg btn-block", target: "_blank" %>
          </div>
        </div>
      </div>
    <% end %>

    <% for p in 1..@active_items.page(1).per(@per_page).total_pages do %>
      <% page_items = @active_items.page(p).per(@per_page) %>
      <h3 class="mt-5">比較表 (<%= p %>)</h3>
      <table class="table table-bordered text-center table-main mb-5">
        <thead>
          <tr>
            <th>製品名</th>
            <% page_items.each do |item| %>
              <td>
                <strong><%= item.name %></strong></br>
              </td>
            <% end %>
          </tr>
          <tr>
            <th>製品画像</th>
            <% page_items.each do |item| %>
              <td>
                <%= image_tag item.main_image, {class: "rounded img-fluid"} %>
              </td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>値段</th>
            <% page_items.each do |item| %>
              <td> <%= item.formatted_price %> 円 </td>
            <% end %>
          </tr>
          <% @table.columns.order(:priority).each do |column| %>
            <tr>
              <th><%= column.name %></th>
              <% page_items.each do |item| %>
                <td>
                  <% if item.element_value(column) != nil && item.element_value(column).length > 0 %>
                    <%= item.element_value(column) %><%= column.unit %>
                  <% else %>
                    ---
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <th>リンク</th>
            <% page_items.each do |item| %>
              <td><%= link_to "楽天", item.rakuten_url, {:target => "_blank", class: "btn btn-primary btn-sm"} %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% end %>

    <%= render 'social_share' %>

  </div>
</div>
