<p id="notice"><%= notice %></p>

<h1>Elements</h1>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Item</th>
      <th>Column</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.table %></td>
        <td><%= element.item %></td>
        <td><%= element.column %></td>
        <td><%= element.value %></td>
        <td><%= link_to 'Show', element %></td>
        <td><%= link_to 'Edit', edit_element_path(element) %></td>
        <td><%= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Element', new_element_path %>
