<hr>

<%= form_with(model: column, local: true) do |form| %>
  <% if column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(column.errors.count, "error") %> prohibited this column from being saved:</h2>

      <ul>
      <% column.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-2 col-form-label" %>
    <%= form.text_field :name, id: :column_name, class: "form-control col-10" %>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: "col-2 col-form-label" %>
    <%= form.text_area :description, id: :column_description, class: "form-control col-10", rows: "3" %>
  </div>

  <div class="form-group row">
    <%= form.label :priority, class: "col-2 col-form-label" %>
    <%= form.number_field :priority, id: :column_priority, class: "form-control col-10" %>
  </div>

  <div class="form-group row">
    <%= form.label :type_id, class: "col-2 col-form-label" %>
    <%= form.select :type_id, Type.all.map { |t| [t.name, t.id] }, {}, {id: "column_type_id", class: "form-control col-10"} %>
  </div>

  <%= form.hidden_field :table_id, :id => :column_table_id %>

  <div class="form-group row">
    <%= form.label :not_null, class: "col-2 col-form-label" %>
    <%= form.check_box :not_null, id: :column_not_null, class: "form-control col-1" %>
  </div>

  <div class="form-group row">
    <%= form.label :unique, class: "col-2 col-form-label" %>
    <%= form.check_box :unique, id: :column_unique, class: "form-control col-1" %>
  </div>

  <div class="form-group row">
    <%= form.label :default_value, class: "col-2 col-form-label" %>
    <%= form.text_field :default_value, id: :column_default_value, class: "form-control col-10" %>
  </div>

  <div class="form-group row">
    <%= form.label :unit, class: "col-2 col-form-label" %>
    <%= form.text_field :unit, id: :column_unit, class: "form-control col-10" %>
  </div>

  <div class="form-group row">
    <%= form.label :image_src, class: "col-2 col-form-label" %>
    <%= form.text_area :image_src, id: :column_image_src, class: "form-control col-10", rows: "3" %>
  </div>

  <div class="form-group row">
    <%= form.label :reference_url, class: "col-2 col-form-label" %>
    <%= form.text_area :reference_url, id: :column_reference_url, class: "form-control col-10", rows: "3" %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<hr>
