<p id="notice"><%= notice %></p>

<h1>Show Column</h1>

<p>
  <strong>Table:</strong>
  <%= @column.table.title %>
</p>

<hr>


<table class="table">

  <tr>
    <th>Name</th>
    <td><%= @column.name %></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= @column.description %></td>
  </tr>

  <tr>
    <th>Priority</th>
    <td><%= @column.priority %></td>
  </tr>

  <tr>
    <th>Type</th>
    <td><%= @column.type.name %></td>
  </tr>

  <tr>
    <th>Not null</th>
    <td><%= @column.not_null %></td>
  </tr>

  <tr>
    <th>Unique</th>
    <td><%= @column.unique %></td>
  </tr>

  <tr>
    <th>Default value</th>
    <td><%= @column.default_value %></td>
  </tr>

  <tr>
    <th>Unit:</th>
    <td><%= @column.unit %></td>
  </tr>

</table>

<hr>

<%= link_to 'Edit', edit_column_path(@column), class: "btn btn-primary" %> |
<%= link_to 'Back', table_path(@column.table.id), class: "btn btn-primary" %>
