<hr>
<%= form_with(model: table, local: true) do |form| %>
  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :title, class: "col-2 col-form-label" %>
    <%= form.text_field :title, id: :table_title, class: "form-control col-10" %>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: "col-2 col-form-label" %>
    <%= form.text_area :description, id: :table_description, class: "form-control col-10", rows: "5" %>
  </div>

  <div class="form-group row">
    <%= form.label :hero_image, class: "col-2 col-form-label" %>
    <%= form.text_area :hero_image, id: :table_hero_image, class: "form-control col-10", rows: "5" %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
<hr>
