<p id="notice"><%= notice %></p>

<h1>Tables</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Hero image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.title %></td>
        <td><%= table.description.truncate(20) %></td>
        <td><%= image_tag table.hero_image, {class: "rounded img-fluid"} %></td>
        <td>
          <%= link_to 'Show', table, {class: "btn btn-primary btn-sm"} %>
          <%= link_to 'Edit', edit_table_path(table), {class: "btn btn-primary btn-sm"} %>
          <%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_table_path, {class: "btn btn-primary btn-lg"} %>
