<p id="notice"><%= notice %></p>

<h1 class="mt-4">Table</h1>

<hr>

<h2>Base information</h2>
<p>
<strong>Title:</strong></br>
<%= @table.title %>
</p>

<p>
<strong>Description:</strong>
</br>
<%= @table.description %>
</p>

<p>
<strong>Hero image:</strong></br>
<%= image_tag @table.hero_image, width: "300px" %>
</p>

<%= link_to 'Edit', edit_table_path(@table), {class: "btn btn-primary"} %> |
<%= link_to 'Back', tables_path, {class: "btn btn-primary"} %>

<hr class="mt-5">

<h2 class="mt-4">Columns</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Type</th>
      <th>Default value</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table.columns.order(:priority).each do |column| %>
      <tr>
        <td><%= column.name %></td>
        <td><%= column.description %></td>
        <td><%= column.priority %></td>
        <td><%= column.type.name %></td>
        <td><%= column.default_value %></td>
        <td><%= column.unit %></td>
        <td><%= link_to 'Show', column, {class: "btn btn-primary btn-sm"} %></td>
        <td><%= link_to 'Edit', edit_column_path(column), {class: "btn btn-primary btn-sm"} %></td>
        <td><%= link_to 'Destroy', column, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Column', add_column_table_path, {class: "btn btn-primary"} %>

<hr class="mt-5">

<h2 class="mt-4">Items</h2>

<table class="table">
  <thead>
    <tr>
      <th>MainImage</th>
      <th>Name</th>
      <th>Price</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table.items.each do |item| %>
      <tr>
        <td><%= image_tag item.main_image, {class: "rounded img-fluid", width: "100px"} %></td>
        <td><%= link_to item.name, item.rakuten_url, {:target => "_blank"} %></td>
        <td><%= item.price %></td>
        <td><%= item.active %></td>
        <td><%= link_to 'Show', item, {class: "btn btn-primary btn-sm"}  %></td>
        <td><%= link_to 'Edit', edit_item_path(item), {class: "btn btn-primary btn-sm"}  %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Item', add_item_table_path, {class: "btn btn-primary"} %>
<%= link_to '楽天検索', {controller: :rakuten_search, action: :index, table_id: @table.id}, {class: "btn btn-primary"}  %>
