<p id="notice"><%= notice %></p>

<h1>Show Item</h1>

<p>
<strong>Table:</strong>
<%= @item.table.title %>
</p>

<table class="table table-bordered">

  <tr>
    <th>Name</th>
    <td><%= @item.name %></td>
  </tr>

  <tr>
    <th>Title</th>
    <td><%= @item.title %></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= @item.description %></td>
  </tr>

  <tr>
    <th>Rakuten url</th>
    <td><%= @item.rakuten_url %></td>
  </tr>

  <tr>
    <th>Price</th>
    <td><%= @item.price %></td>
  </tr>

  <tr>
    <th>Main image</th>
    <td><%= image_tag @item.main_image, width: "200px" %></td>
  </tr>

  <tr>
    <th>Active</th>
    <td><%= @item.active %></td>
  </tr>

  <% @item.table.columns.order(:priority).each do |column| %>
    <tr>
      <th><%= column.name %></th>
      <td>
        <% if @item.elements.where(column_id: column.id).first %>
          <%= @item.elements.where(column_id: column.id).first.value %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-primary" %> |
<%= link_to 'Back', table_path(@item.table.id), class: "btn btn-primary" %>
