<!DOCTYPE html>
<html>
  <head>
    <%= analytics_init if Rails.env.production? %>
    <title><%= @html_title %><%= site_name %><%= @html_title_footer %></title>
    <%= favicon_link_tag() %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="<%= @html_meta_desription %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hikaku_san">
    <meta name="twitter:creator" content="@hikaku_san">
    <meta name="twitter:title" content="<%= @html_title %><%= site_name %>">
    <meta name="twitter:description" content="<%= @html_meta_desription %>">
    <meta name="twitter:image:src" content="<%= @html_meta_image_src %>">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <%= link_to site_name, root_path, {:class => "navbar-brand"} %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!--
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a href="#" class="dropdown-item">aaa</a>
                <a href="#" class="dropdown-item">aaa</a>
                <a href="#" class="dropdown-item">aaa</a>
              </div>
            </li>
          </ul>
          -->
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <%= site_name %> <%= Time.now.year %></p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
